html {
  height: 100%
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: san-serif;
  background-image: url('./images/cool-background.png');
}

.pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: auto;
}
.center-home {
  display: flex;
  flex: 1 0 auto;
  margin: 10% 0;
  height: 600px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: peachpuff;
  border-style: solid;
  border-color: #dddddd;
  border-radius: 16px 16px 16px 16px;
  padding: 10%;
  box-shadow: 5px 5px rgba(0, 0, 0 ,0.2);
}
  
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkslategrey;
  color: white;
  text-align: center;
}
